body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
}

#minting, #management {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

#status {
    padding: 20px;
    font-weight: bold;
}

